{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Polls List{% endblock title %} 

{% block content %}
<section class="catagory_section layout_padding" style="min-height: 100vh;">
    <div class="catagory_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2 class="mb-4">
                    Cast your Vote!
                </h2>
            </div>
            
            <h3 class="text-start mt-5 ms-5 ps-4 mb-3"> {{ poll.poll }} </h3>
                    
            <div class="p-5 pt-2 justify-content-center">
                <form class="text-start ms-4" action="" method="POST"> 
                        {% csrf_token %} 
                        {% comment %} {{ form|crispy }} {% endcomment %}
                        <div class="row ms-5 p-3 ps-5 my-2 mx-auto">
                        {% for choice in poll.choices %}
                            <div class="col-6 form-check text-start p-3"> 
                                <input type="radio" class="form-check-input" name="choices" value={{choice.id}} id="id_choices_{{ forloop.counter }}" required=""> 
                                <label for="id_choices_{{ forloop.counter }}" class="form-check-label"> 
                                    {% if choice.image_url %}
                                        <img style="width:90%" src={{ choice.image_url }}/>
                                    {% elif choice.image_file %}
                                        <img style="width:22rem; height:22rem;" src={{ choice.image_file.url }}/>
                                    {% else %}
                                        {{ choice }}
                                    {% endif %}
                                </label> 
                            </div>

                            {% if forloop.counter|divisibleby:2 %}
                                </div>
                                <div class="row mb-2 p-3 ms-5 ps-5 mx-auto">
                            {% endif %}
                        {% endfor %}

                        <div id="div_id_review" class="mb-3"> 
                            <label for="id_review" class="form-label requiredField">
                                Review
                            </label> 
                            <textarea name="review" cols="40" rows="10" class="textarea form-control" id="id_review"> </textarea> 
                        </div>
                    </div>
                    <input type="submit" value="Vote" class="btn btn-primary mt-5">
                    <a class="btn btn-warning mt-5" href="{% url 'polls_list' %}" role="button">Cancel</a>
                </form>
            </div>

            <h5 class="text-start mt-4 ms-5 ps-4 mb-2">
                {{ poll.poll.description }}
            </h5>
        </div>
    </div>
</section>
    

{% endblock content %}