{% extends 'base.html' %} 
{% load static %} 

{% block content %}

    <div class="hero_area">
    <!-- slider section -->
    <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="container ">
                <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                    <h5>
                        VoltsVerse Polls
                    </h5>
                    <h1>
                        Your Opinion <br>
                        Matters to Us.
                    </h1>
                    <p>
                        You have been invited as part of a focus group for an upcoming trendsetter. Please select the button below to continue to the polls.
                    </p>
                    <a href="#">
                        Go to Polls.
                    </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                    <img src="{% static 'images/polls.jpeg' %}" alt="">
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="carousel-item">
            <div class="container ">
                <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <h5>
                            VoltsVerse Polls
                        </h5>
                        <h1>
                            Your Opinion <br>
                            Matters to Us.
                        </h1>
                        <p>
                            You have been invited as part of a focus group for an upcoming trendsetter. Please select the button below to continue to the polls.
                        </p>
                        <a href="#">
                            Go to Polls.
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                    <img src="{% static 'images/polls.jpeg' %}" alt="">
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="carousel-item">
            <div class="container ">
                <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <h5>
                            VoltsVerse Polls
                        </h5>
                        <h1>
                            Your Opinion <br>
                            Matters to Us.
                        </h1>
                        <p>
                            You have been invited as part of a focus group for an upcoming trendsetter. Please select the button below to continue to the polls.
                        </p>
                        <a href="#">
                            Go to Polls.
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                    <img src="{% static 'images/polls.jpeg' %}" alt="">
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="carousel_btn_box">
            <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel1" data-bs-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#customCarousel1" data-bs-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
            </button>
        </div>
        </div>
    </section>
    <!-- end slider section -->
    </div>
    

{% endblock content %}